@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar{
  background-color: #141414;
}
.btn-custom {
  background-color: #3874FF;
  color: #fff;
}
.btn-custom:hover {
  background-color: #2D5CCC;
}

.navbar-brand {
    font-size: 30px; /* Increase the font size of the logo */
    font-weight: bold; /* Make the logo text bolder */
  }

  .navbar-nav .nav-link {
    font-size: 20px; /* Increase the font size of the navigation links */
  }

/* Hero Section */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height of the wave */
    margin-top: -1px; /* Adjust if needed to eliminate any gaps */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary-color:  #3874FF;
  --background-color: #0b0c10;
  --text-color: #fff;
  --input-border-color: rgba(255, 255, 255, 0.7);
  --button-hover-color: #d0d4e0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url('img/background.jpg') no-repeat center center/cover;
  animation: animateBg 8s infinite alternate;
}

@keyframes animateBg {
}

.login-box {
  position: relative;
  width: 380px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.login-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
}

h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: var(--text-color);
  text-align: center;
}

.input-box {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid var(--input-border-color);
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--text-color);
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: var(--primary-color);
}

.input-box input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--text-color);
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  color: var(--text-color);
  transform: translateY(-50%);
}

.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--text-color);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.animated-button {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: var(--background-color);
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

.register-link {
  font-size: 0.9em;
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .login-box {
    width: 90%;
    padding: 30px;
  }
}
